@model WebAPIGameTable.Models.Game

<h2>Save</h2>
@using (Html.BeginForm(Model == null ? "games" : "games/" + Model.GameId, "api", FormMethod.Post, new { id = "popupForm" }))
{
    if (Model != null && Model.GameId > 0)
    {
        @Html.HiddenFor(a => a.GameId)
    }

    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(a => a.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Name)
    </div>
    <div class="form-group">
        <label>ReleaseYear</label>
        @*<div class="input-group">
            <span class="input-group-addon">$</span>*@
            @Html.TextBoxFor(a => a.ReleaseYear, new { @class = "form-control" })
        @*</div>*@
        @Html.ValidationMessageFor(a => a.ReleaseYear)

    </div>
        <div class="form-group">
            <label>Genre</label>
            @Html.DropDownListFor(a => a.GenreId, (SelectList)ViewBag.GenreSelect, "Select genre...", new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Genre)
        </div>
        <div class="form-group">
            <label>Rating</label>
            @Html.DropDownListFor(a => a.RatingId, (SelectList)ViewBag.RatingSelect, "Select rating...", new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.RatingId)
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
        }


